Source: kannel
Maintainer: Bruno Rodrigues <bruno.rodrigues@litux.org>
Section: net
Priority: optional
Standards-Version: 3.1.1
Build-Depends: gcc, libxml2-dev, libssl-dev, openssl, libmysqlclient10-dev, docbook-dsssl, jadetex, transfig, imagemagick, gs, libpam0g-dev

Package: kannel
Architecture: any
Depends: ${shlibs:Depends}
Section: net
Priority: optional
Description: WAP and SMS gateway
 Kannel is a gateway for connecting WAP (Wireless Application Protocol)
 phones to the Internet. It also works as an SMS gateway, for providing
 SMS based services for GSM phones.
 .
 Compiled with ssl, mysql and native malloc
